$color-blue: #4a8bfd;
$color-dark-blue: #2d6cdf;
$color-orange: #f1b56a;
$color-light-orange: #fff6e0;
$color-red: #e12b2b;
$color-green: #198754;
$color-black: #000;
$color-yellow:#fff6b0;
$color-dark-yellow:#f1d97a;
$color-white: #fff;
$color-beige: #d1b3a3;
$color-gray: #b6b6b6;